<html>
    <head>
	    <meta charset = "UTF-8"> <meta lang="spanish">
		<title> Wshop_Men </title>
		<link rel="stylesheet" href="../css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	
	<body>
	    <header>
		    <nav class="nav navbar navbar-expand-lg navbar-dark bg-black fixed-top">
				<a class="navbar-brand" href="../../index.html"><h1>World Shop</h1></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link " href="../views/hombres.html">Hombres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="../views/mujeres.html">Mujeres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="../views/somos.html">¿Quiénes somos?</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="../views/contacto.html">Contacto</a>
						</li>
					</ul>
				</div>
			</nav>
			<hr>
		</header>
		
		
		<main>
			<div align="center">
				<h4>¡HOT SALE! Hasta 40%Off!</h4>
		        <img src="../img/hombrei.webp" style="width: 100%; height: 100%; ">
				
			</div>
			<hr>

			<div class="products">
				<!-- Producto 1 -->
				<div class="product">
					<img src="../img/zapa1.webp" alt="Producto 1">
					<h3>Nike White 2.0</h3>
					<p>¡Para cuaalquier ocasión!</p>
					<p><strong>$2500000</strong></p>
				</div>
				<!-- Producto 2 -->
				<div class="product">
					<img src="../img/inv2.webp" alt="Producto 2">
					<h3>Pantalon CR7 Negro</h3>
					<p>¡Colaboración con el Bicho!.</p>
					<p><strong>$120000</strong></p>
				</div>
				<!-- Producto 3 -->
				<div class="product">
					<img src="../img/inv3.webp" alt="Producto 3">
					<h3>Campera Deportiva Blanco</h3>
					<p>¡Esencial para entrenar en el invierno!.</p>
					<p><strong>$150000</strong></p>
				</div>
				<!-- Producto 4 -->
				<div class="product">
					<img src="../img/inv4.webp" alt="Producto 4">
					<h3>Chaleco Gris M-XL</h3>
					<p>Chaleco Gris con Blanco.</p>
					<p><strong>$190000</strong></p>
				</div>
				<!-- Producto 5 -->
				<div class="product">
					<img src="../img/inv5.webp" alt="Producto 5">
					<h3>Campera Rosa</h3>
					<p>15%off llevando otro producto.</p>
					<p><strong>$170000</strong></p>
				</div>
				<!-- Producto 6 -->
				<div class="product">
					<img src="../img/inv6.webp" alt="Producto 6">
					<h3>Buso Gris Unisex</h3>
					<p>Exclusivo Invierno.</p>
					<p><strong>$200000</strong></p>
				</div>
				<!-- Producto 7-->
				<div class="product">
					<img src="../img/zapa7.webp" alt="Producto 7">
					<h3>Air Jordan Low</h3>
                    <p>¡Los mas Top de Nike!</p>
					<p><strong>$220000</strong></p>
				</div>
				<!-- Producto 8-->
				<div class="product">
					<img src="../img/zapa3.webp" alt="Producto 3">
					<h3>Jordan Caven Mid</h3>
					<p>¡Vistete como Miles Morales Black!.</p>
					<p><strong>$6160000</strong></p>
				</div>
				<!-- Producto 9-->
				<div class="product">
					<img src="../img/zapa5.webp" alt="Producto 5">
					<h3>Air Jordan SE</h3>
					<p>15%off llevando otro producto.</p>
					<p><strong>$260000</strong></p>
				</div>
				<!-- Producto 10-->
				<div class="product">
					<img src="../img/inv7.webp" alt="Producto 7">
					<h3>Buso Negro Tia Paola</h3>
					<p>¡Lo mejor de lo mejor!</p>
					<p><strong>Sin Stock</strong></p>
				</div>
				<!-- Producto 11 -->
				<div class="product">
					<img src="../img/zapa6.webp" alt="Producto 6">
					<h3>Nike Air </h3>
					<p>Conoce lo que realmente es comodo.</p>
					<p><strong>Sin Stock</strong></p>
				</div>
			</div>


		</main>
		<footer class="footer bg-black text-white mt-5">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <a class="boton" href="../views/hombres.html">Productos Hombres</a>
                        <a class="boton" href="../views/mujeres.html">Productos Mujeres</a>
                    </div>
                    <div class="pietext col-md-4 ">
						<p>Derechos de página &copy; 2024 World Shop
							<br>
							Tel.:(+54)11 2345-6789
							<br>
							Correo: WorldShop@gmail.com
							<br>
							Instagram: <a href="https://www.instagram.com/jhxrdxnn">@jhxrdxnn</a>
						<br>
						¿No conoces tu talle? <a href="https://youtube.com/shorts/AtzGUDPf_dU?si=MajAWVqn5Sr_q29_" target="_blank">Click Aqui</a>
						</p>
					</div>
                    <div class="col-md-4">
                        <a class="boton" href="../views/somos.html">¿Quiénes somos?</a>
                        <a class="boton" href="../views/contacto.html">¡Contactanos Ya!</a>
                    </div>
                </div>
            </div>
        </footer>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>




</html>