<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wshop_Info - ¿Quiénes somos?</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="nav navbar navbar-expand-lg navbar-dark bg-black fixed-top">
            <a class="navbar-brand" href="../../index.html"><h1>World Shop</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/hombres.html">Hombres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/mujeres.html">Mujeres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../views/somos.html">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
    </header>

    <main>
		<div align="center">
			<h4>¡AROVECHA EL HOT SALE INVIERNO!</h4>
			<img src="../img/somos.jpg" style="width: 100%; height: 100%; ">
		</div>
		<hr>
        <h2 class="text-center">¿Quiénes somos?</h2>
        <p class="mainp text-center">En World Shop, nos dedicamos a ofrecer los mejores productos de moda para hombres y mujeres. Nuestro objetivo es brindar una experiencia de compra única y satisfactoria para todos nuestros clientes.</p>
        <p class=" mainp text-center">Nuestro equipo está compuesto por profesionales apasionados por la moda y el servicio al cliente, comprometidos a traer las últimas tendencias y productos de alta calidad.</p>
        
        <div class="row mt-5">
            <div class="col-md-6">
                <h3>Misión</h3>
                <p class="mainp">Nuestra misión es proporcionar productos de alta calidad a precios competitivos, asegurando la satisfacción total de nuestros clientes.</p>
            </div>
            <div class="col-md-6">
                <h3>Visión</h3>
                <p class="mainp">Ser la tienda en línea preferida por los consumidores, destacándonos por nuestra calidad, innovación y excelente servicio al cliente.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h3>Valores</h3>
                <ul>
                    <li>
						<strong>Calidad:</strong> Ofrecemos productos que cumplen con los más altos estándares de calidad.
					</li>
                    <li>
						<strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras actividades.
					</li>
                    <li>
						<strong>Innovación:</strong> Nos mantenemos a la vanguardia de las tendencias y tecnologías para ofrecer lo mejor a nuestros clientes.
					</li>
                    <li>
						<strong>Satisfacción del Cliente:</strong> Nuestra prioridad es la satisfacción y felicidad de nuestros clientes.
					</li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="footer bg-black text-white mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <a class="boton" href="../views/hombres.html">Productos Hombres</a>
                    <a class="boton" href="../views/mujeres.html">Productos Mujeres</a>
                </div>
                <div class="pietext col-md-4 ">
                    <p>Derechos de página &copy; 2024 World Shop
                        <br>
                        Tel.:(+54)11 2345-6789
                        <br>
                        Correo: WorldShop@gmail.com
                        <br>
                        Instagram: <a href="https://www.instagram.com/jhxrdxnn">@jhxrdxnn</a>
						<br>
						¿No conoces tu talle? <a href="https://youtube.com/shorts/AtzGUDPf_dU?si=MajAWVqn5Sr_q29_" target="_blank">Click Aqui</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <a class="boton" href="../views/somos.html">¿Quiénes somos?</a>
                    <a class="boton" href="../views/contacto.html">¡Contáctanos Ya!</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
